@using Aiursoft.Template.Authorization
@using Aiursoft.Template.Configuration
@using Microsoft.Extensions.Localization
@using Microsoft.Extensions.Options
@model Aiursoft.Template.Models.RolesViewModels.EditViewModel
@inject IStringLocalizer<AppPermissions> PermissionLocalizer
@inject IOptions<AppSettings> AppSettings

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Role"]</h4>
<hr />
@if (AppSettings.Value.OIDCEnabled)
{
    <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            <strong>@Localizer["Warning!"]</strong>
            @Localizer["This role is synchronized from an OpenID Connect (OIDC) provider. Any modifications made here (e.g., to the name) may cause conflicts during the next data sync. For permanent changes, please update the role directly on your OIDC provider."]
        </div>
    </div>
}
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <h5>@Localizer["Manage Claims for this Role"]</h5>
                <div class="card">
                    <div class="card-body">
                        @for (var i = 0; i < Model.Claims.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model.Claims[i].Key" />
                                <input type="hidden" asp-for="@Model.Claims[i].Name" />
                                <input type="hidden" asp-for="@Model.Claims[i].Description" />

                                <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />

                                <label class="form-check-label" for="@Html.IdFor(m => m.Claims[i].IsSelected)">
                                    <strong>@PermissionLocalizer[Model.Claims[i].Name]</strong>
                                </label>
                                <div class="text-muted ms-4">
                                    <small>@PermissionLocalizer[Model.Claims[i].Description]</small>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
