@model Aiursoft.Template.Models.RolesViewModels.EditViewModel

<h1>@Localizer["Edit"]</h1>

<h4>@Localizer["Role"]</h4>
<hr />
<div class="row">
    <div class="col-md-8">
        <form asp-action="Edit" asp-route-id="@Model.Id">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group mb-3">
                <label asp-for="RoleName" class="control-label"></label>
                <input asp-for="RoleName" class="form-control" />
                <span asp-validation-for="RoleName" class="text-danger"></span>
            </div>

            <hr />

            <div class="form-group">
                <h5>@Localizer["Manage Claims for this Role"]</h5>
                <div class="card">
                    <div class="card-body">
                        @for (var i = 0; i < Model.Claims.Count; i++)
                        {
                            <div class="form-check m-1">
                                <input type="hidden" asp-for="@Model.Claims[i].Key" />
                                <input type="hidden" asp-for="@Model.Claims[i].Name" />
                                <input type="hidden" asp-for="@Model.Claims[i].Description" />

                                <input asp-for="@Model.Claims[i].IsSelected" class="form-check-input" />

                                <label class="form-check-label" for="@Html.IdFor(m => m.Claims[i].IsSelected)">
                                    <strong>@Model.Claims[i].Name</strong>
                                </label>
                                <div class="text-muted ms-4">
                                    <small>@Model.Claims[i].Description</small>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            <div class="form-group mt-3">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["Back to List"]</a>
</div>
