@using Aiursoft.Template.Configuration
@using Microsoft.Extensions.Options
@model Aiursoft.Template.Models.ManageViewModels.IndexViewModel
@inject IOptions<AppSettings> AppSettings
<h2>@Localizer["Account Management"]</h2>

@if (!string.IsNullOrWhiteSpace(ViewData["StatusMessage"] as string))
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <div class="alert-icon">
            <i class="far fa-fw fa-bell"></i>
        </div>
        <div class="alert-message">
            <strong>@Localizer["Success!"]</strong>
            @ViewData["StatusMessage"]
        </div>
    </div>
}

<div>
    <h4>@Localizer["Change your account settings"]</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Localizer["Avatar settings"]</dt>
        <dd>
            <a asp-controller="Manage" asp-action="ChangeAvatar" class="btn-bracketed">@Localizer["Change your avatar"]</a>
        </dd>
        @if (AppSettings.Value.LocalEnabled)
        {
            <dt>@Localizer["Profile"]</dt>
            <dd>
                <a asp-controller="Manage" asp-action="ChangeProfile" class="btn-bracketed">@Localizer["Change your profile"]</a>
            </dd>

            <dt>@Localizer["Password"]</dt>
            <dd>
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Change your password"]</a>
            </dd>
        }
        else
        {
            <p class="text-warning">@Localizer["You can't change your password becasue local authentication is disabled. Please edit your profile from the auth provider."]</p>
        }
    </dl>
</div>
