@using Aiursoft.Template.Configuration
@using Microsoft.Extensions.Options
@model Aiursoft.Template.Models.ManageViewModels.IndexViewModel
@inject IOptions<AppSettings> AppSettings
<h2>@Localizer["Account Management"]</h2>

<p class="text-success">@ViewData["StatusMessage"]</p>

<div>
    <h4>@Localizer["Change your account settings"]</h4>
    <hr />
    <dl class="dl-horizontal">
        @if (AppSettings.Value.LocalEnabled)
        {
            <dt>Password</dt>
            <dd>
                <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Change your password"]</a>
            </dd>
        }
        else
        {
            <p class="text-warning">@Localizer["You can't change your password becasue local authentication is disabled. Please edit your profile from the auth provider."]</p>
        }
    </dl>
</div>
