@using Aiursoft.Template.Entities
@using Microsoft.AspNetCore.Identity
@model Aiursoft.Template.Models.UsersViewModels.IndexViewModel
@inject UserManager<User> UserManager
@{
    ViewData["Title"] = "教师管理";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">添加用户</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User name
            </th>
            <th>
                Email
            </th>
            <th>
                Is Admin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                <td>
                    @{
                        var isAdmin = await UserManager.IsInRoleAsync(item, "Admin");
                    }
                    @(isAdmin ? "Yes" : string.Empty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">编辑</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">详情</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">删除</a>
                </td>
            </tr>
        }
    </tbody>
</table>
