@using Aiursoft.Template.Entities
@using Microsoft.AspNetCore.Identity
@model Aiursoft.Template.Models.UsersViewModels.IndexViewModel
@inject UserManager<User> UserManager

<h1>Manage Users</h1>

<p>
    <a asp-action="Create">Add a new user</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                User name
            </th>
            <th>
                Email
            </th>
            <th>
                Is Admin
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Users)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                <td>
                    @{
                        var isAdmin = await UserManager.IsInRoleAsync(item, "Admin");
                    }
                    @(isAdmin ? "Yes" : string.Empty)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
