@model Aiursoft.Template.Models.UsersViewModels.IndexViewModel

<style>
    .clickable-row {
        cursor: pointer;
    }
</style>

<h1>@Localizer["Manage Users"]</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">
        <i class="fas fa-user-plus"></i> @Localizer["Create a new user"]
    </a>
</p>
<table class="table table-hover">
    <thead>
    <tr>
        <th>@Localizer["User name"]</th>
        <th>@Localizer["Email"]</th>
        <th>@Localizer["Roles"]</th>
        <th class="text-end">@Localizer["Actions"]</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Users)
    {
        <tr class="clickable-row" data-href="@Url.Action("Details", new { id = item.User.Id })">
            <td>@item.User.UserName</td>
            <td>@item.User.Email</td>
            <td>
                @{
                    const int maxRolesToShow = 3;
                    var roles = item.Roles;
                    string displayRoles;
                    if (roles.Count > maxRolesToShow)
                    {
                        displayRoles = string.Join(", ", roles.Take(maxRolesToShow)) + "...";
                    }
                    else
                    {
                        displayRoles = string.Join(", ", roles);
                    }
                }
                @displayRoles
            </td>
            <td class="text-end">
                <a asp-action="Edit" asp-route-id="@item.User.Id" class="btn btn-sm btn-outline-primary">
                    <i class="fas fa-user-edit"></i> Edit
                </a>
                <a asp-action="Delete" asp-route-id="@item.User.Id" class="btn btn-sm btn-outline-danger">
                    <i class="fas fa-user-times"></i> Delete
                </a>
            </td>
        </tr>
    }
    </tbody>
</table>

@* ReSharper disable once Razor.SectionNotResolved *@
@section scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function() {
            const rows = document.querySelectorAll(".clickable-row");
            rows.forEach(row => {
                row.addEventListener("click", function(event) {
                    const target = event.target;
                    // Prevent navigation if a link or button was clicked
                    if (!target.matches('a, a *, button, button *')) {
                        window.location.href = row.dataset.href;
                    }
                });
            });
        });
    </script>
}
