@model Aiursoft.Template.Models.ErrorViewModels.ErrorViewModel

<h1 class="text-danger">@Localizer["Error."]</h1>
<h2 class="text-danger">@Localizer["An error occurred while processing your request."]</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>@Localizer["Request ID:"]</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>@Localizer["Please contact the administrator for help."]</h3>
<p>
<a asp-controller="Home" asp-action="Index" class="btn btn-primary">
    <i class="fas fa-home"></i> @Localizer["Back to Home"]
</a>
</p>
